<!----------------------------------- Animation for index page ------------------------------------------------>
<div class="container-fluid" id="container-fluid">
		<div class="subnav">
			<div class="slider-wrapper default">
				<div id="slider">
					<a href="#" target="_blank"><img src="images/img1.jpg" /></a>
					<a href="#" target="_blank"><img src="images/img2.jpg" /></a>
					<a href="#" target="_blank"><img src="images/img1.jpg" /></a>
					<a href="#" target="_blank"><img src="images/img2.jpg" /></a>
				</div>
			</div>
		</div>
	</div>
	<!-- --------------------------------------------End Animation--------------------------------------------->