<!-- Slider Area Start -->
<section class="filmoja-slider-area fix">
	<div class="filmoja-slide owl-carousel">
	   <div class="filmoja-main-slide slide-item-2">
		  <div class="filmoja-main-caption">
			 <div class="filmoja-caption-cell">
				<div class="container">
				   <div class="row">
					  <div class="col-md-12">
						 <div class="slider-content-holder">
							<div class="slider-text">
							   <h4>Action</h4>
							   <h2>Dareing Joker :  <br> Card</h2>
							   <p class="release-slider">release on: 20 Dec,2014</p>
							</div>
							<div class="slider-play">
							   <a class="popup-youtube" href="https://www.youtube.com/watch?v=1Q8fG0TtVAY">
							   <i class="fa fa-play"></i> watch trailer
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="filmoja-main-slide slide-item-5">
		  <div class="filmoja-main-caption">
			 <div class="filmoja-caption-cell">
				<div class="container">
				   <div class="row">
					  <div class="col-md-12">
						 <div class="slider-content-holder">
							<div class="slider-text">
							   <h4>Science Fiction</h4>
							   <h2>Black Stone of the <br> Club</h2>
							   <p class="release-slider">release on: 20 Dec,2014</p>
							</div>
							<div class="slider-play">
							   <a class="popup-youtube" href="https://www.youtube.com/watch?v=1Q8fG0TtVAY">
							   <i class="fa fa-play"></i> watch trailer
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	   <div class="filmoja-main-slide slide-item-3">
		  <div class="filmoja-main-caption">
			 <div class="filmoja-caption-cell">
				<div class="container">
				   <div class="row">
					  <div class="col-md-12">
						 <div class="slider-content-holder">
							<div class="slider-text">
							   <h4>Commedy</h4>
							   <h2>Sunrisers : Fury <br> 2019</h2>
							   <p class="release-slider">release on: 20 Dec,2014</p>
							</div>
							<div class="slider-play">
							   <a class="popup-youtube" href="https://www.youtube.com/watch?v=1Q8fG0TtVAY">
							   <i class="fa fa-play"></i> watch trailer
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
 </section>
 <!-- Slider Area End -->