<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- ============================================== -->
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->

    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="../css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="../css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../css/form.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- modernizr JS
        ============================================ -->

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <!-- =========================PAGE===================== -->
    <!-- Create Movie Admin CSS -->
    <link rel="stylesheet" href="../movie-admin/create-movie-admin.css">
    <!-- ====================== -->


    <!-- List  Movie waiting register  CSS -->
    <link rel="stylesheet" href="../movie-admin/list-movie-waiting-register-write.css">
    <!-- ====================== -->
    <!-- CKEDITOR 5-->
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
    <!-- end CKEDITOR -->
    <link rel="stylesheet" href="../movie-admin/member-writing-movie.css">
    <!-- modernizr JS
        ============================================ -->
    <!-- List  Movie waiting register  CSS -->
    <link rel="stylesheet" href="../movie-admin/list-movie-waiting-register-write.css">
    <!-- ====================== -->
    <!-- List  Movie waiting register  CSS -->
    <link rel="stylesheet" href="../movie-admin/list-movie-registed.css">
    <!-- ====================== -->

    <!-- List  approving meber  CSS -->
    <link rel="stylesheet" href="../movie-admin/list-approving-member.css">
    <!-- ====================== -->
    <!-- List  approving meber  CSS -->
    <link rel="stylesheet" href="../movie-admin/admin-approve-movie.css">
    <!-- ====================== -->
    <!-- Page admin  CSS -->
    <link rel="stylesheet" href="../admin/pageadmin.css">
    <!-- ====================== -->
    <!-- List movie member writed  CSS -->
    <link rel="stylesheet" href="../movie-admin/list-movie-member-writed.css">
    <!-- ====================== -->

    <!-- List movie member writed  CSS -->
    <link rel="stylesheet" href="../movie-admin/admin-update-movie.css">
    <!-- ====================== -->
      <!-- ADmin decentralization  CSS -->
    <link rel="stylesheet" href="../authentication/admin-decentralization.css">
      <!-- ====================== -->
    <!-- =========================End PAGE================= -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body class="materialdesign">
    <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header acc">
                    <a href="#"><img src="../img/message/1.jpg" alt="" />
                    </a>
                    <!-- <h3>Thanh Lâm</h3>
                    <p>Admin</p>
                    <strong>TL</strong> -->
                </div>
                <div id="render-menu-by-role" class="left-custom-menu-adp-wrap">
                    <!-- render theo role -->

                </div>
            </nav>
        </div>
        <!-- Header top area start-->
        <div class="content-inner-all">
            <div class="header-top-area">
                <div class="fixed-header-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="sidebarCollapse"
                                    class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                    <i class="fa fa-bars"></i>
                                </button>


                                <div class="admin-logo logo-wrap-pro">
                                    <a href="#"><img src="img/logo/log.png" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                                <div class="header-top-menu">
                                    <ul class="nav navbar-nav mai-top-nav">
                                        <li class="nav-item"> <a href="/admin/pageadmin"><i
                                                    class="fa big-icon fa-home"></i> <span class="mini-dn"></span></a>
                                        </li>

                                    </ul>
                                    <ul class="nav navbar-nav mai-top-nav">

                                        <li class="nav-item"><a href="/movie/list-movie-registed" class="nav-link">Viết
                                                Bài</a>
                                        </li>

                                    </ul>
                                    <ul class="nav navbar-nav mai-top-nav">

                                        <li class="nav-item"><a href="/movie/list-movie-waiting-register-write"
                                                class="nav-link">Đăng Ký BV</a>
                                        </li>

                                    </ul>
                                    <ul class="nav navbar-nav mai-top-nav">

                                        <li class="nav-item"><a href="/movie/list-approving-member" class="nav-link">BV
                                                Chờ Duyệt</a>
                                        </li>

                                    </ul>
                                    <ul class="nav navbar-nav mai-top-nav">

                                        <li class="nav-item"><a href="/movie/get-list-writed-member"
                                                class="nav-link">Danh Sách BV</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                        <!-- <li class="nav-item"><a href="#" data-toggle="dropdown" role="button"
                                                aria-expanded="false" class="nav-link dropdown-toggle"><i
                                                    class="fa fa-bell-o" aria-hidden="true"></i><span
                                                    class="indicator-nt"></span></a>
                                            <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                                <div class="notification-single-top">
                                                    <h1>Notifications</h1>
                                                </div>
                                                <ul class="notification-menu">
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <span class="adminpro-icon adminpro-checked-pro"></span>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Advanda Cro</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <span
                                                                    class="adminpro-icon adminpro-cloud-computing-down"></span>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Sulaiman din</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <span class="adminpro-icon adminpro-shield"></span>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="notification-icon">
                                                                <span
                                                                    class="adminpro-icon adminpro-analytics-arrow"></span>
                                                            </div>
                                                            <div class="notification-content">
                                                                <span class="notification-date">16 Sept</span>
                                                                <h2>Victor Jara</h2>
                                                                <p>Please done this project as soon possible.</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="notification-view">
                                                    <a href="#">View All Notification</a>
                                                </div>
                                            </div>
                                        </li> -->
                                        <li class="nav-item">
                                            <a href="#" class="admin-logout">
                                                <span class="admin-name">Đăng Xuất</span>
                                            </a>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end-->
            <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 small-dn">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcome-list shadow-reset">
                                <div class="row">