<!DOCTYPE html>
<html lang="en-US">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Title -->
   <title>Filmoja</title>
   <!-- Favicon -->
   <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
   <!--Bootstrap css-->
   <link rel="stylesheet" href="assets/css/bootstrap.css">
   <!--Font Awesome css-->
   <link rel="stylesheet" href="assets/css/font-awesome.min.css">
   <!--Magnific css-->
   <link rel="stylesheet" href="assets/css/magnific-popup.css">
   <!--Owl-Carousel css-->
   <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
   <!--Animate css-->
   <link rel="stylesheet" href="assets/css/animate.min.css">
   <!--Slicknav css-->
   <link rel="stylesheet" href="assets/css/slicknav.min.css">
   <!--Site Main Style css-->
   <link rel="stylesheet" href="assets/css/style.css">
   <!--Responsive css-->
   <link rel="stylesheet" href="assets/css/responsive.css">



   <!-- Option Custom ------------------------------------------------------------------>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
      integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
   <!--login-register-account CSS -->
   <link href="authentication/login-register-account.css" rel="stylesheet">
   <!-- Index CSS -->
   <link href="main/index.css" rel="stylesheet">

</head>

<body>


   <!-- Header Area Start -->
   <header class="filmoja-header-area">

      <!-- Header Top Area Start -->
      <div class="header-top-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-4">
                  <div class="header-top-social">
                  </div>
               </div>
               <div class="col-lg-6 col-sm-8">
                  <div class="header-top-menu">
                     <ul class="link-login-register">
                        <li><a id="acction-login-register" href="/login-register">Đăng nhập/Đăng ký</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Header Top Area End -->

      <!-- Main Header Area Start -->
      <div class="main-header-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-2">
                  <div class="site-logo">
                     <a href="/">
                        <img src="assets/img/logo.png" alt="filmoja" />
                     </a>
                  </div>
                  <!-- Responsive Menu Start -->
                  <div class="filmoja-responsive-menu"></div>
                  <!-- Responsive Menu End -->
               </div>
               <div class="col-lg-4">
                  <div class="header-main-search hide-mobile">
                     <form>
                        <input type="search" placeholder="Search...">
                        <button type="submit">
                           <i class="fa fa-search"></i>
                        </button>
                     </form>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="mainmenu">
                     <nav>
                        <ul id="responsive_navigation">
                           <!-- Mobile Search Start -->
                           <li class="header-main-search hide-desktop">
                              <form>
                                 <input type="search" placeholder="Search...">
                                 <button type="submit">
                                    <i class="fa fa-search"></i>
                                 </button>
                              </form>
                           </li>
                           <!-- Mobile Search End -->
                           <li class="active"><a href="/">Trang chủ</a></li>
                           <li>
                              <a href="#">pages</a>
                              <ul>
                                 <li><a href="about.html">about us</a></li>
                                 <li><a href="pricing.html">pricing</a></li>
                                 <li class="submenu-parent">
                                    <a href="#">blog</a>
                                    <ul class="submenu">
                                       <li><a href="blog.html">blog</a></li>
                                       <li><a href="single-blog.html">blog details</a></li>
                                    </ul>
                                 </li>
                                 <li class="submenu-parent">
                                    <a href="#">Authentication</a>
                                    <ul class="submenu">
                                       <li><a href="login.html">login</a></li>
                                       <li><a href="register.html">register</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="404.html">404 error</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="#">movies</a>
                              <ul>
                                 <li><a href="movie-list.html">movie list sidebar</a></li>
                                 <li class="submenu-parent">
                                    <a href="#">movie grid</a>
                                    <ul class="submenu">
                                       <li><a href="movie-grid-sidebar.html">grid sidebar</a></li>
                                       <li><a href="movie-full-grid.html">full page grid</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="single-movie.html">movie details</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="#">Tv show</a>
                              <ul>
                                 <li><a href="tv-series.html">Tv Series</a></li>
                                 <li><a href="single-series.html">series details</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="#">celebrities</a>
                              <ul>
                                 <li><a href="celebrities.html">all celebrities</a></li>
                                 <li><a href="celebritie-details.html">celebrities details</a></li>
                              </ul>
                           </li>
                           <li><a href="contact.html">contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Main Header Area End -->

   </header>
   <!-- Header Area End -->