.frm-create-movie-admin{
    min-height: 450px;
}
.item-create-movie{
    margin-top:30px; 
}
.item-movie{
    padding: 20px;
    border: 1px solid greenyellow;
    margin-bottom: 20px;
}
.btn-submit-create-movie-admin{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}
.icon-remove-item-movie{
    /* float: right; */
    font-size: 15px;
    border: 1px solid blue;
    padding-left: 5px;
    padding-right: 5px; 
    margin-left: 30px;
    background-color: white;
}
.icon-remove-item-movie:hover{
    /* float: right; */
    font-size: 15px;
    border: 2px solid red;
    padding-left: 5px;
    padding-right: 5px; 
    margin-left: 30px;
    background-color: white;
}