.navbar-header{
    height: 80px;
    background-color: #f7f9fa;
    width: auto;
   
}
.rowheaderforheader{text-align: center;
width: 100%;}
#container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.inputsearch{
    margin-top: 15px;
    width: 400px;  
    float: left;
    /* margin-left: 100px; */
    /* margin-left: 300px; */
}
.groupsearch  input{
	border-right: none;
}
.groupsearch .input-group-append button{
	background-color: #FFFFFF;
	border-left: none;
}
.groupsearch .input-group-append button:hover{
	cursor: pointer;
	background-color: #f7f9fa;

}
.linklogin, .linkregister, .signout, .member{
	cursor: pointer;
	
	/* font-size: 18px; */
}
.arealogin:hover, .arearegister:hover{
	color: #FF4500;
	
}
.arealogin, .arearegister{
	color: #1A73E8;
	margin-right: 20px;
}
.groupsearch{
    width: 300px;
}
.nav-item a i{
    font-size: 16px;
}
.navigation .nav-item a{
	font-weight: 500;
	font-size: 15px;
	color: #FFFFFF;
}
.navigation .nav-item a:hover{
	color: #FF4500;
}
.navigation .nav-item {
	padding-right: 15px;
	padding-left: 15px;
}
.navigation{
	background-color: #000000;
	box-shadow: 10px 10px 5px grey;
}
.nav-item{
	margin-right: 20px;

}
.dropdown-menu{
	/*display: none;*/
	background-color: #000000;
}
.dropdown:hover .dropdown-menu{
	display: block;
	border-top: none;
	border-top-right-radius: 0;	
	margin-top: -6px;
	color: #FF4500;
}
.dropdown .dropdown-menu a{
	background-color: transparent;
}
/*Animation*/
.subnav{
    height: 450px;
}
/*Footer*/
footer{
	background-color: #1A1A1A;
	color: #BBBBBB;
}
li a i{
	color: #a0a3a7;
	text-decoration: none;
	font-weight: 100;
}
li a i:hover{
	color: #FF4500;

}
h5 i{
	color: #FF4500;
}
.footerbottom a{
	text-decoration: none;
}
.logo-header-main{
	/* margin-right: 30px; */
	margin-left: 250px;
	margin-right: 40px;
}
.action-login-register{
	margin-top: 15px;
	margin-left: 20px;
}
.big-login{
	margin-left: 50px;
}
.member{
	margin-left: 50px;
}