<%include ../partials/header%>
<%include ../partials/animation%>
<%include ../partials/dialogloginregister%>
	
	
	<!-----------------------------------------------Container ------------------------------------------------>
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, ratione nam placeat sed unde ipsum error
			at, iusto est accusamus doloremque vel, veritatis facere. Tenetur dolorem earum quisquam optio illum magnam
			voluptatem iure consectetur architecto ipsum laboriosam error, odit nobis enim, excepturi illo fugiat, quaerat
			iste hic, alias pariatur. Laudantium rem quod veritatis, error quis. Quam asperiores earum obcaecati sunt tempore
			consequatur in quidem ducimus officiis, itaque eligendi sit doloribus provident perspiciatis alias impedit optio
			voluptates facere! Culpa in, recusandae sapiente cupiditate qui esse quidem autem cum, consequuntur molestias
			minima sed. Maxime enim inventore eaque velit esse nihil ipsam vel atque voluptas dolorum iusto saepe excepturi,
			tempore delectus possimus dolor qui sequi unde debitis tempora? Magnam magni, quibusdam harum exercitationem
			dolor, dolorem necessitatibus, non temporibus accusantium cupiditate blanditiis error molestiae nostrum explicabo
			incidunt sequi? Minus, autem soluta. Similique distinctio aut facere sapiente, voluptatibus dicta! Nesciunt
			deserunt perspiciatis cupiditate reprehenderit a beatae quia, facilis nobis laudantium. Quo in consequuntur,
			architecto reprehenderit tenetur reiciendis recusandae illo expedita adipisci id consequatur soluta rerum quos
			enim optio neque modi ex odit saepe nisi nobis est eligendi deserunt. Illum obcaecati vel, veniam dolor tempore
			quod eaque reprehenderit dicta! Aut consectetur voluptatibus amet, soluta eum delectus consequatur sed
			consequuntur repellat vel eveniet sunt asperiores illo dolorum cumque, magnam sit. Possimus aperiam illum odio
			iste velit minus, deserunt dolore, quos excepturi et voluptatibus magni reprehenderit optio repudiandae!
			Consequatur, cum. Porro molestias deleniti veniam, sint? Et, quis iure. Iste sint fugit dolorum facere dolores
			delectus sunt quod expedita quos repellendus mollitia iure maiores iste pariatur temporibus ea quos veniam. Iusto
			ab eum, quas recusandae ea quisquam, quod, cumque tempore eos earum sunt repellendus provident eveniet maiores.
			Ipsum ex nihil, ullam, aperiam at iste repellendus. Ea eligendi explicabo sit, beatae, voluptatum culpa odio
			debitis exercitationem, est architecto, nobis nisi incidunt commodi! Nostrum debitis cumque sunt ipsum id, ducimus
			omnis fugit qui pariatur, magni repellendus alias similique!</p>
	</div>
	<!-- ------------------------------------------------------------------------------------------------------>
	<%include ../partials/footer%>