<%include ../partials/header%>

<%include ../partials/dialogloginregister%>

<!-----------------------------------------------Container ------------------------------------------------>
<div class="container createmovie">
    <form action="/movie/createmovie" method="POST">
        <div class="component-create">
            <div class="form-group comment-item">
                <div class="row form-inline group-formcreate">
                    <label class="col col-4 lable-create-title">Tiêu đề</label>
                    <label class="col col-4 lable-create-producer">Nhà phát hành</label>
                    <label class="col col-3 lable-create-producer">Hạn viết bài</label>
                </div>
                <div class="row form-inline">
                    <input type="text" class="form-control col col-4 txt-create-title" id="create-err-title" name="title">
                    <input type="text" class="form-control col col-4 txt-create-producer" name="producer">
                    <input type="date" class="form-control col col-3 txt-create-producer" name="deadline">
                </div>
                <label id="create-err-title" class="create-err-title-display">Tiêu đề đã tồn tại. Hãy chọn tiêu đề khác</label>
            </div>
        </div>
        <div class="row tagbtncreatemovie">
            <div class="col col-3">
                <button class="btn btn-primary btnaddcreatemovie" type="button">Thêm</button>
            </div>
            <label class="col col-5"></label>
            <div class="col col-4">
                <button class="btn btn-success btncreatemovie" type="submit">Tạo bài viết</button>
            </div>
        </div>
    </form>
</div>
<!-- --------------------------------------------End Detail--------------------------------------------->
<%include ../partials/footer%>

<!-- "id":"movie001",
 "title":"Cua Lại Vợ Bầu",
 "type":["Hài", "Gia đình","Tình cảm"],
 "actor":["Thanh Lâm", "Văn Hiếu", "Trấn Thành"],
 "director":"Nhất Trung",
 "producer":"NT Studio",
 "country":"Việt Nam",
 "distance": 90,
 "releasedate":"30/01/2019",
 "posterimage":"url_aaaaa",
 "trailer":"l8vTMxuvz6Y",
 "content":"ádlkjasoldjhasldjlasdjlasdjlasdjoiashdasdfugufygweufgwfgsxgbfclhdsgfhsxbfcjhjsdgfjhsdgfjhsdgfljh",
 "author":"lam.truong1996@gmail.com",
 "publicationdate":"17/02/2019",
 "status":1,
 "comment":{},
 "like":0,
 "countview":0 -->