<%include ../partials/header-admin%>

<!-----------------------------------------------Container ------------------------------------------------>
<div class="container frm-create-movie-admin">
    <form action="/movie/create-movie-admin" method="POST">
        <div class="item-create-movie">
            <div class="item-movie">
                <div class="row">
                    <div class="col col-6">
                        <label>Tiêu đề phim</label>
                        <input type="text" class="form-control col col-10" name="title">
                    </div>
                    <div class="col col-6">
                        <label>Nhà phát hành</label>
                        <input type="text" class="form-control col col-10" name="producer">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-6">
                        <label>Hạn nộp bài</label>
                        <!-- <input type="text" class="form-control col col-10" name="title"> -->
                        <input type="date" class="form-control col col-10" name="deadline">
                    </div>
                    <div class="col col-6">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control col col-10" name="note">
                    </div>
                </div>
            </div>

        </div>
        <button type="button" id="btnadditemmovie" class="btn btn-primary">Thêm bài</button>
        <button type="submit" class="btn btn-success btn-submit-create-movie-admin">Tạo bài viết</button>
    </form>
    <!-- <button type="submit" class="btn btn-success btn-submit-create-movie-admin">Tạo bài viết</button> -->
</div>


<!-- --------------------------------------------End Detail--------------------------------------------->

<%include ../partials/footer-admin%>